<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <provider
            android:name="rahul.lohra.snorkl.initializer.SdkInitProvider"
            android:authorities="${applicationId}.networkmonitor.initprovider"
            android:exported="false"
            tools:node="merge" />

    </application>
</manifest>